
<div style="display:flex">
    <form action="~/Home1/GetDataFromViewField" method="post">
      <center>  <label>Description</label><br /></center>>
        <input type="text" name="_Decs" value="Elit House" /><br />
        <label>Img</label><br />
        <input type="text" name="_Img" value="..." /><br />
        <p><input type="submit" value="Send" /></p>
    </form>
</div>



