

<center>
    <div >
     
            @foreach (House hs in Model)
            {
                <div>
                    <img src=@hs.Img>
                    <p> @hs.Desc  </p>
                </div>
            }  
        <br />

    </div>
</center>
