
<div style="display:flex">
    <form action="~/Home/DeleteHouse" method="post">
      <center>  <label>Description</label><br /></center>>
        <input type="number" name="Id" value="Elit House" /><br />
        <p><input type="submit" value="Send" /></p>
    </form>
</div>
