body {
    background-color:lemonchiffon;
}

.btn {
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 50px 0 50px;
    margin: 0 20px;
    background: #ffccbc;
    border-width: 0;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
}
img {
    width:300px;
    height:200px;
    border-radius:13px;
}
div
{
    display:flex;
    display:inline-block;
    margin:7px 8px 7px 8px
}
.divButton {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;   
    color: white;
    text-align: center;
}