<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
	<div>
		@RenderBody()
	</div>

	<center>
		<div>
			<a href="/Home1/Add" class="btn">Add</a>
			<a href="/Home1/DeleteHouseDb" class="btn">Delete</a>
			

		</div>
	</center>

</body>
</html>
